{% load static %}
<div class="header row justify-content-center d-flex align-items-center mt-5">
    <div class="col ">
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col d-flex justify-content-end">
                <img src="{% static url_avatar %}" class="img-avatar-mini img-thumbnail img-fluid " alt="">
            </div>
            <div class="col" >
                {% if name != "Гость" %}
                    <a href="/profile" class="h2">{{ name }}</a>
                {% else %}
                    <a data-bs-toggle="modal" data-bs-target="#warningModal" class="name-avatar-mini" type="button">{{ name }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col text-center">
        <a href="/" class="h1">ChessBit</a>
    </div>
</div>