<div class="modal fade" id="createUiModal" tabindex="-1" aria-labelledby="createUiModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="logInModal modal-body">
          <div class="container-fluid">
              <h2 class="modal-title text-center">Игра с компьютером</h2>
              <h5  class="modal-title text-center mb-2">Выберите сторону</h5>
              <form action="" method="post">
                  {% csrf_token %}
                  <div class="row justify-content-center" role="group" aria-label="Basic radio toggle button group">
                      <div class="col-6 row" style="justify-content: center">
                          <input type="radio" class="btn-check" name="chosenColor" id="btnradioWhiteUi" autocomplete="off"
                                 checked value ="W">
                          <label class="btn btn-secondary align-middle" style="width: 120px; height: 120px"
                                 for="btnradioWhiteUi"><img src="/static/main/img/pieces/white/king.png"
                                                             class="h-75 rounded mx-auto d-block" alt="♔"/><p>Белые</p></label>
                      </div>
                      <div class="col-6 row" style="justify-content: center">
                          <input type="radio" class="btn-check" name="chosenColor" id="btnradioBlackUi" autocomplete="on"
                                 checked value ="B">
                          <label class="btn btn-secondary" style="width: 120px; height: 120px"
                                 for="btnradioBlackUi"><img src="/static/main/img/pieces/black/king.png"
                                                              class="h-75 rounded mx-auto d-block" alt="♚"/> <p>Чёрные</p></label>
                      </div>
                  </div>
                  <div class="row mt-4">
                      <input type="submit" class="col-6 mx-auto btn  btn-lg btn-secondary" value="Играть">
                  </div>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>