<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
        <div class="registerModal modal-body">
            <div class="container-fluid">
                <h2 class="modal-title text-center" id="exampleModalLabel">Регистрация</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row mt-3">
                        <label class="col-6" for="name">Имя пользователя</label>
                        <input class="col-6" id="name" type="text" name="name">
                    </div>
                    <div class="row mt-2">
                        <label class="col-6" for="email">Email</label>
                        <input class="col-6" id="email" type="email" name="email">
                    </div>
                    <div class="row mt-2">
                        <label class="col-6"  for="f_password">Пароль</label>
                        <input class="col-6" id="f_password" type="password" name="f_password">
                    </div>
                    <div class="row mt-2">
                        <label class="col-6"  for="re_password">Повтор пароля</label>
                        <input class="col-6" id="re_password" type="password" name="re_password">
                    </div>
                    <div class="row mt-1">
                        <a class="p" data-bs-target="#logInModal" data-bs-toggle="modal" data-bs-dismiss="modal">У вас уже есть аккаунт? Войдите</a>
                    </div>
                    <div class="row mt-4">
                         <input type="submit" class="col-4 mx-auto btn btn-secondary" value="Войти">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>