<div class="modal fade" id="selectFigureModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="selectFigureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header" style="border-bottom: none">
{#        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
      </div>

      <div class="modal-body warningModal pt-0">
          <h3>Результаты:</h3>
          <h5>Выберите фигуру</h5>
          <div class="buttons_select_figure">
              <form>
                  <button  type="button" class="btn btn-secondary m-1" value="Kk" id="select_knight"><img src="/static/main/img/pieces/white/knight.png" class="h-75 w-75 rounded mx-auto d-block" alt="♘" /></button>
                  <button  type="button" class="btn btn-secondary m-1" value="Bb" id="select_bishop"><img src="/static/main/img/pieces/white/bishop.png" class="h-75 w-75 rounded mx-auto d-block" alt="♗" /></button>
                  <button  type="button" class="btn btn-secondary m-1" value="Rr" id="select_rook"><img src="/static/main/img/pieces/white/rook.png" class="h-75 w-75 rounded mx-auto d-block" alt="♖" /></button>
                  <button  type="button" class="btn btn-secondary m-1" value="Qq" id="select_queen"><img src="/static/main/img/pieces/white/queen.png" class="h-75 w-75 rounded mx-auto d-block" alt="♕" /></button>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>