<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header" style="border-bottom: none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body warningModal pt-0">
          <h4>Вы не вошли в свой аккаунт.
              Пожалуйста
          <a class="h4" data-bs-target="#logInModal" data-bs-toggle="modal" data-bs-dismiss="modal" >войдите</a>
          в него или
          <a class="h4" data-bs-target="#registerModal" data-bs-toggle="modal" data-bs-dismiss="modal">зарегистрируйтесь</a> <br><br>
          Без входа в аккаунт для вас временно недоступны любые режимы игры, включая игру с компьютером.</h4>
{#          <a class="h4" data-bs-target="#createUiModal" data-bs-toggle="modal" data-bs-dismiss="modal" > игры с компьютером</a></h4>#}
      </div>
    </div>
  </div>
</div>