{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block content %}
    {% include "main/fragments/header.html" %}
    <div class="select-type-game d-grid gap-3 col-lg-4 col-md-6 col-sm-8 col-8 mx-auto" style="margin-top: 8rem">
        {% if auth == True %}
            <a disabled class="btn disabled btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#createModal" type="button">Создать игру</a>
            <a class="btn disabled btn-primary btn-lg mt-3 p-2" href="servers">Присоединиться</a>
            <a class="btn btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#createUiModal" type="button" >Игра с компьютером</a>
        {% else %}
            <a class="btn disabled btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#warningModal" type="button">Создать игру</a>
            <a class="btn disabled btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#warningModal" type="button">Присоединиться</a>
            <a class="btn btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#warningModal" type="button" >Игра с компьютером</a>
        {% endif %}
        {#        <a class="btn btn-primary btn-lg mt-3 p-2" data-bs-toggle="modal" data-bs-target="#createUiModal" type="button" >Игра с компьютером</a>#}

        <div class="position-fixed col-2 d-none d-lg-block top-50 translate-middle" style="left: 80%">
            <p class=" p-2 text-center h3">Лидеры</p>
            <div class="row c-card ">
                <div class="row" style="margin-left: 0">
                    <h5 class="col">Игрок</h5>
                    <h5 class="col-4 text-center">Рейтинг</h5>
                    <hr style="margin-bottom: 4px">
                </div>
                {% for player in best_players %}
                    <div class="row" style="margin-left: 0">
                        <h6 class="col">{{ player.name }}</h6>
                        <h6 class="col-4 text-center">{{ player.res }}</h6>
                        {% if player != best_players.9 %}
                            <hr style="margin-bottom: 2px">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'main/modals/warningModal.html' %}
    {% include 'main/modals/registerModal.html' %}
    {% include 'main/modals/logInModal.html' %}
    {% include 'main/modals/createUiModal.html' %}
    {% include 'main/modals/createModal.html' %}
{% endblock %}
