{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    Профиль
{% endblock %}

{% block content %}
    <div class="header row  d-flex align-items-center mt-5">
        <div class="col-lg-4 col-8 offset-1">
            <div class="row d-flex align-items-center">
                <div class="col-4 col-md-4 col-sm-4">
                    <img src="{% static url_avatar %}" class="img-avatar img-thumbnail img-fluid " alt="">
                </div>
                <div class="col-8 col-sm-6">
                    <div class="row">
                        <div class="col">
                            <p class="h3">{{ name }}  ({{ rating }}) </p>
                        </div>
                        <div class="col">
                            <p class="h5">{{ email }} </p>
                        </div>
                        <div class="col">
                            <p class="h5">{{ reg }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center d-none d-lg-block">
            <a href="/" class="h1">ChessBit</a>
        </div>
        <div class="changeAccount row col-12 offset-1 p-0 mt-4">
             <div class="col-2 m-0 mt-1" style="width: max-content">
                 <a type="submit" href="/" class="btn btn-secondary">Вернуться в меню</a>
            </div>
            <div class="col-2 m-0 mt-1" style="width: max-content">
                <form action="/" method="post">{% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Выйти из аккаунта">
                </form>
            </div>
            <div class="col-2 m-0 mt-1" style="width: max-content">
                <form action="" method="post">{% csrf_token %}
                    <input type="button" class="btn btn-secondary" data-bs-toggle="modal"
                           data-bs-target="#updateUserModal" value="Изменить данные">
                </form>
            </div>
            <div class="col-2 m-0 mt-1" style="width: max-content">
                <form action="" method="post">{% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Удалить аккаунт" name = "deletion">
                </form>
            </div>
        </div>
    </div>




    <div class="history row gap-3 col-xl-7 col-md-7 col-sm-12 mx-auto  " style="margin-top: 4rem">
        <div class="col-11 col-sm-12 col-md-12 col-lg-8 mx-auto">

            <div class="row mt-3 c-card justify-content-between">
                <div class="row" style="margin-left: 0">
                    <h5 class="col-12 h4">Завершенные партии</h5>
                    <h6 class="col-6 text-start">Шахматисты</h6>
                    <h6 class="col-2 text-center">Результат</h6>
                    <h6 class="col-3 text-end">Дата</h6>
                    <hr style="margin-bottom: 4px">
                </div>

                {% for game in games %}
                    <div class="row justify-content-between" style="margin-left: 0">
                        <div class="row col-7 text-start d-flex" style="align-items: baseline">
                            <div class="col-12 row" style="align-items: baseline">
                                <div class="col-2 p-0 colorPlayer" {% if game.side == "W" %}style="background: white"
                                     {% else %}style="background: black"{% endif %}></div>
                                <h5 class="col-8">{{ game.name }}</h5>
                                <h5 class="col-2 text-end"><strong>{{ game.fr }}</strong></h5>
                            </div>
                            <div class="col-12 row" style="align-items: baseline">
                                <div class="col-2 p-0 colorPlayer" {% if game.side == "B" %}style="background: white"
                                     {% else %}style="background: black"{% endif %}></div>
                                <h5 class="col-8">{{ game.enemy }}</h5>
                                <h5 class="col-2 text-end"><strong>{{ game.sr }}</strong></h5>
                            </div>
                        </div>
                        <h5 class="col-2 p-0 m-0 text-center d-flex align-items-center justify-content-center">
                            {% if game.res == '1' %}
                                <div class="result col-2 d-flex align-items-center justify-content-center"
                                     style="background-color: #81B64C">
                                    <p class="d-flex align-items-center justify-content-center">+</p>
                                </div>
                            {% elif game.res == '-1' %}
                                <div class="result col-2 d-flex align-items-center justify-content-center"
                                     style="background-color: #CF4846">
                                    <p class="d-flex align-items-center justify-content-center">-</p>
                                </div>
                            {% else %}
                                <div class="result col-2 d-flex align-items-center justify-content-center"
                                     style="background-color: #B6C0C0">
                                    <p class="d-flex align-items-center justify-content-center">=</p>
                                </div>
                            {% endif %}
                        </h5>
                        <h6 class="col-3 text-end d-flex" style="align-items: center">{{ game.date }}</h6>
                        <hr style="margin-bottom: 4px">
                    </div>
                {% endfor %}

            </div>
        </div>


    </div>

    {% include 'main/modals/updateUserModal.html' %}
{% endblock %}
