{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="header row justify-content-center d-flex align-items-center mt-5">
        <div class="col">
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col d-flex justify-content-end p-0">
                    <img src="{% static url_avatar %}" id="img-avatar" class="img-thumbnail img-fluid " alt="">
                </div>
                <div class="col" >
                    <div class="row">
                        <div class="col" >
                            <p class="h3">{{ name }} </p>
                        </div>
                        <div class="col" >
                            <p class="h5">{{ email }} </p>
                        </div>
                        <div class="col" >
                            <p class="h5">{{ reg }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <a href="/" class="h1">ChessBit</a>
        </div>
    </div>
    <div class="history gap-3 col-5 mx-auto  " style="margin-top: 4rem">
        <p class="mt-3 p-2 text-center h1">Последние 10 игр</p>
        {% for game in games %}
            <div class="history-card col-7 mt-3 mx-auto ">
                <a href="/history?id={{game.history_id}}">
                    <div class="row">
                        <div class="col-3 p-0 d-flex justify-content-end">
                            <img src="{% static game.avatar %}" id="img-avatar-card" class="img-thumbnail img-fluid " alt="">
                        </div>
                        <div class="col-6">
                            <p class="card-title h5">{{ game.name }}</p>
                            <p class="card-text"><small class="text-muted">{{ game.date }}</small></p>
                        </div>
                        {% if game.res == 1 %}
                            <div class="result col-3 d-flex align-items-center justify-content-center" style="background-color: #81B64C">
                                <p>+</p>
                            </div>
                        {% elif game.res == -1 %}
                            <div class="result col-3 d-flex align-items-center justify-content-center" style="background-color: #CF4846">
                                <p>-</p>
                            </div>
                        {% else %}
                            <div class="result col-3 d-flex align-items-center justify-content-center" style="background-color: #B6C0C0">
                                <p>=</p>
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="col justify-content-center d-flex align-items-center gap-2 mt-3" style="margin-bottom: 40px">
            <button type="button" class="btn btn-secondary">Назад</button>
            <button type="button" class="btn btn-secondary">Вперёд</button>
        </div>

    </div>

    <!-- Button trigger modal -->
{% endblock %}
