body{
    background: #F1EADA;

}
a{
    text-decoration: none;
}
.img-avatar-mini {
    width: calc(1.4rem + 3vw);
    height: calc(1.4rem + 3vw);
    background-color: #ffffff;
    border: 2px solid #1B1217;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    pointer-events: none;
}
.img-avatar {
    width: calc(3.4rem + 3vw);
    height: calc(3.4rem + 3vw);
    /*background-color: #1B1217;*/
    background-color: #ffffff;
    border: 2px solid #1B1217;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    pointer-events: none;
}
.img-avatar-card {
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border: 2px solid #1B1217;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    pointer-events: none;
}
.name-avatar-mini {
    font-size: calc(0.8rem + 1vw);
    text-decoration: none;
    color: #1B1217;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
}
.colorPlayer{
    width: 1rem;
    height: 1rem;
    border: 2px solid #1B1217;
    -moz-user-select: none;
    -khtml-user-select: none; user-select: none;
    pointer-events: none;
    border-radius: 4px;
}
.header a{
    color: #1B1217;
    text-decoration: none;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
}

.btn-primary {
    --bs-btn-color: #FAF3F3;
    --bs-btn-bg: #03484F;
    --bs-btn-border-color: #03484F;
    --bs-btn-hover-color: #FAF3F3;
    --bs-btn-hover-bg: #08545d;
    --bs-btn-hover-border-color: #08545d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003A42;
    --bs-btn-active-border-color: #003A42;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FAF3F3;
    --bs-btn-disabled-bg: #03484F;
    --bs-btn-disabled-border-color: #03484F;
}
.btn-secondary {
    --bs-btn-color: #1B1217;
    --bs-btn-bg: #E4D3B7;
    --bs-btn-border-color: #1B1217;
    --bs-btn-hover-color: #1B1217;
    --bs-btn-hover-bg: #d3c3a9;
    --bs-btn-hover-border-color: #1B1217;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #1B1217;
    --bs-btn-active-bg: #afa48e;
    --bs-btn-active-border-color: #1B1217;
    --bs-btn-disabled-color: #1B1217;
    --bs-btn-disabled-bg: #E4D3B7;
    --bs-btn-disabled-border-color:#1B1217;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
    font-weight: bold;
}

.errorValidation{
    color: #ba2121;
}

.result {
 width: 3rem;
    height: 3rem;
    border-radius: 10px;
    padding: 0;
}
.result p{
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 45px;
    user-select: none;
    height: 75px;
}

.c-card {
    background-color: #E4D3B7;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history a{
    text-decoration: none;
    color: #1B1217;
}
.modal-content {
    background-color: #E4D3B7;
}
.warningModal a{
    color: #003A42;
    text-decoration: underline;
    cursor: pointer;
}
.logInModal a{
    color: #003A42;
    text-decoration: underline;
    cursor: pointer;
}

.registerModal a{
    color: #003A42;
    text-decoration: underline;
    cursor: pointer;
}

/*field*/
.board {
    width: 100% ;
    border: 2px solid #001C1F;
}

.square{
    float: left;
    width: 12.5%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sq_w{
    background-color: #E4D3B7;
}
.sq_b{
    background-color: #001C1F;
}
.figure {
    font-size: 3em;
    color: red;
    cursor: pointer;
    user-select: none;
}
